body {
background-color: #cdf6d0;
}
h1 { 
color: orange;
font-family: ğ™¼ğš˜ğš—ğš˜ğšœğš™ğšŠğšŒğš; 
}
h2 { 
color: orange;
font-family:ğ’®ğ’¸ğ“‡ğ’¾ğ“…ğ“‰; 
}
p { 
color: orange;
font-family: ğ’®ğ’¸ğ“‡ğ’¾ğ“…ğ“‰; 
}
tr {
background-color: #D3D3D3;
color: orange;
}
button {
color: green;
background: #D3D3D3
}