body {
background-color: #cdf6d0;
}
h1 { 
color: orange;
font-family: 𝙼𝚘𝚗𝚘𝚜𝚙𝚊𝚌𝚎; 
}
h2 { 
color: orange;
font-family:𝒮𝒸𝓇𝒾𝓅𝓉; 
}
p { 
color: orange;
font-family: 𝒮𝒸𝓇𝒾𝓅𝓉; 
}
tr {
background-color: #D3D3D3;
color: orange;
}
button {
color: green;
background: #D3D3D3
}